root/.vim/.netrwhist
root/.vim/plugged
root/.vim/doc/tags
root/.vim/doc/tags-cn
root/.vim/coc
root/.vim/gadgets
root/.vim/.viminfo
root/.vim/sessions
root/.vim/view
root/.vim/config.vim
__pycache__
*.tar
tags
GPATH
GTAGS
GRTAGS
