build
root/.config/lazygit/state.yml
root/.config/nvim/lazy-lock.json
root/.vim/.netrwhist
root/.vim/plugged
root/.vim/doc/tags
root/.vim/doc/tags-cn
root/.vim/coc
root/.vim/gadgets
root/.vim/.viminfo
root/.vim/sessions
root/.vim/spell
root/.vim/view
root/.vim/undodir
root/.vim/config.vim
__pycache__
*.exe
*.tar
*.tmp
tags
GPATH
GTAGS
GRTAGS
