" options and mappings that are supported by both Vim and IdeaVim

if has('ide')
  " mappings and options that exist only in IdeaVim
  set sneak
  set incsearch
  " see :actionlist
  nmap <leader>fh <Action>(RecentFiles)
  nmap <leader>fmt <Action>(ReformatCode)
  nmap <leader>rg <Action>(FindInPath)
  nmap <leader>ff <Action>(GotoFile)
  if &ide =~? 'intellij idea'
    if &ide =~? 'community'
      " some mappings and options for IntelliJ IDEA Community Edition
    elseif &ide =~? 'ultimate'
      " some mappings and options for IntelliJ IDEA Ultimate Edition
    endif
  elseif &ide =~? 'pycharm'
    " PyCharm specific mappings and options
  endif
else
  " some mappings for Vim/Neovim
  " nnoremap <leader>f <cmd>Telescope find_files<cr>
endif