#[url "https://github.moeyy.xyz/https://github.com/"]
#       insteadOf = https://github.com/
[core]
	editor = vim
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
[mergetool]
	prompt = false
